{% extends 'web_client/base.html' %}


{% block content %}
<h1>Block details for block {{ block_number }}</h1>

<div id="block_detail">
  <h3>Internal Transactions</h3>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Txn Hash</th>
          <th>from</th>
          <th>to</th>
          <th>gas</th>
          <th>type</th>
          <th>input</th>
          <th>value</th>
          <th>errCode</th>
          <th>gasUsed</th>
          <th>isError</th>
          <th>traceId</th>
          <th>timeStamp</th>
          <th>contractAddress</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) in transactions_internal.results" :key="index">
          <th>[{ index + 1 }]</th>
          <th>[{ item.hash }] </th>
          <th><a :href="'/address/' + item.from_id">[{ item.from_id }]</a></th>
          <th><a :href="'/address/' + item.to_id">[{ item.to_id }]</a> </th>
          <th>[{ item.gas }] </th>
          <th>[{ item.type }] </th>
          <th>[{ item.input }] </th>
          <th>[{ item.value }] </th>
          <th>[{ item.errCode }] </th>
          <th>[{ item.gasUsed }] </th>
          <th>[{ item.isError }] </th>
          <th>[{ item.traceId }] </th>
          <th>[{ item.timeStampDateTime }] </th>
          <th>[{ item.contractAddress }] </th>
        </tr>
      </tbody>
    </table>
  </div>
  <h3>Normal Transactions</h3>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Txn Hash</th>
          <th>from</th>
          <th>to</th>
          <th>gas</th>
          <th>type</th>
          <th>input</th>
          <th>value</th>
          <th>errCode</th>
          <th>gasUsed</th>
          <th>isError</th>
          <th>traceId</th>
          <th>timeStamp</th>
          <th>contractAddress</th>
        </tr>
      </thead>
      <tbody>        
        <tr v-for="(item, index) in transactions_normal.results" :key="index">
          <th>[{ index + 1 }]</th>
          <th>[{ item.hash }] </th>
          <th><a :href="'/address/' + item.from_id">[{ item.from_id }]</a></th>
          <th><a :href="'/address/' + item.to_id">[{ item.to_id }]</a> </th>
          <th>[{ item.gas }] </th>
          <th>[{ item.type }] </th>
          <th>[{ item.input }] </th>
          <th>[{ item.value }] </th>
          <th>[{ item.errCode }] </th>
          <th>[{ item.gasUsed }] </th>
          <th>[{ item.isError }] </th>
          <th>[{ item.traceId }] </th>
          <th>[{ item.timeStampDateTime }] </th>
          <th>[{ item.contractAddress }] </th>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock content %}


{% block scripts %}
<script>
  const block_id = {{ block_number }}
  const vm = new Vue({
    el: '#block_detail',
    delimiters: ['[{', '}]'],

    data() {
      return {
        transactions_internal: [],
        transactions_normal: []
      }
    },
    mounted() {
      this.url_internal = 'http://localhost:8000/api/transactions/internal/?limit=500&block__number=' + block_id;
      this.url_normal = 'http://localhost:8000/api/transactions/normal/?limit=1000&block__number=' + block_id;
      this.upDate();
    },
    methods: {
      upDate: function () {
        console.log("running query...")
        axios
          .get(this.url_internal)
          .then(response => (this.transactions_internal = response.data))
        axios
          .get(this.url_normal)
          .then(response => (this.transactions_normal = response.data))
      }
    }
  });
</script>
{% endblock scripts %}