{% extends 'web_client/base.html' %}


{% block content %}
  <h1>Ethereum watcher</h1>

  <h2>Latest 30 Blocks</h2>
  <div id="blocks">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Block Number</th>
            <th>Time stamp</th>
            <th>Miner</th>
            <th>Block Reward</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in data.results" :key="index">
            <th><a :href="'/block/' + item.blockNumber">[{ item.blockNumber }]</a></th>
            <th>[{ item.timeStampDateTime }]</th>
            <th>[{ item.blockMiner }]</th>
            <th>[{ item.blockReward }]</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}

{% block scripts %}
<script>
  const vm = new Vue({
    el: '#blocks',
    delimiters: ['[{', '}]'],

    data() {
      return {
        data: []
      }
    },
    mounted() {
      this.upDate();
      this.timer = setInterval(this.upDate, 5000)
      this.url = 'http://localhost:8000/api/blocks'
    },

    methods: {
      upDate: function () {
        console.log("running query...")
        axios
          .get('http://localhost:8000/api/blocks/?limit=30')
          .then(response => (this.data = response.data))
      },
      cancelAutoUpdate: function () { clearInterval(this.timer) },
      beforeDestroy() {
        clearInterval(this.timer)
      }

    }
  });

</script>
{% endblock scripts %}
