{% extends 'web_client/base.html' %}


{% block content %}
  <h1>Ethereum watcher</h1>

  <h2>Latest Blocks</h2>
  <div id="blocks">
    <table>
      <tr>
        <th>Block Number</th>
        <th>Time stamp</th>
        <th>Miner</th>
        <th>Block Reward</th>
      </tr>
      <tr v-for="(item, index) in data.results" :key="index">
        <th>[{ item.blockNumber }]</th>
        <th>[{ item.timeStampDateTime }]</th>
        <th>[{ item.blockMiner }]</th>
        <th>[{ item.blockReward }]</th>
      </tr>
    </table>
  </div>
{% endblock content %}

{% block scripts %}
<script>
  const vm = new Vue({
    el: '#blocks',
    delimiters: ['[{', '}]'],

    data() {
      return {
        data: []
      }
    },
    mounted() {
      this.upDate();
      this.timer = setInterval(this.upDate, 2000)
      this.url = 'http://localhost:8000/api/blocks'
    },

    methods: {
      upDate: function () {
        console.log("running query...")
        axios
          .get('http://localhost:8000/api/blocks/?limit=30')
          .then(response => (this.data = response.data))
      },
      cancelAutoUpdate: function () { clearInterval(this.timer) },
      beforeDestroy() {
        clearInterval(this.timer)
      }

    }
  });

</script>
{% endblock scripts %}
